<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My taxes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        button {
            padding: 5px 10px;
            margin: 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h2>Table with Buttons</h2>

<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Tax ID</th>
            <th>Tax type</th>
            <th>Year</th>
            <th>Total amount</th>
            <th>Due_amount</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.s_no }}</td>
            <td>{{ record.tax_id }}</td>
            <td>{{ record.tax_type }}</td>
            <td>{{ record.year }}</td>
            <td>{{ record.total_amount }}</td>
            <td>{{ record.due }}</td>
            <td>
                <button 
                onclick="location.href='paymentPage/?tax_id={{ record.tax_id }}'" 
                {% if record.due <= 0 %} class="disabled" disabled {% endif %}>
                Pay
            </button>
            
            </td>
            <td>
                <button onclick="location.href='citizens/previousTransactions/?tax_id={{ record.tax_id }}'">Previous Transactions</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>